@media only screen and (min-width:320px){
/*BODY AYUDA INICIO*/
.body-ayuda{
    background-image: url(../img/fondos-body/fondo-verde-mobile.jpg);
    background-color: rgb(8, 19, 54);
    background-position: center;
    background-size: cover;
    background-repeat: none;
    background-attachment: fixed;
}
/*BODY AYUDA FIN*/

/*AYUDA GRID*/
.main-ayuda{
    .contenedor-ayudas{
        .ayuda-web{
            background-color: rgba(56, 0, 59, 0.245);
            padding: 5px;
            margin-top: 50px;
            margin: 10px;
            border-radius: 15px;
            div{
                h1{
                    color: rgb(0, 220, 220);
                    text-transform: uppercase;
                    text-align: center;
                    margin: 10px;
                    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.625);
                }
                p{
                    color: rgb(221, 221, 221);
                    text-align: center;
                }
            }
        }
        .ayuda-ayuda{
            background-color: rgba(56, 0, 59, 0.245);
            padding: 5px;
            margin: 10px;
            border-radius: 15px;
            div{
                h1{
                    color: rgb(0, 220, 220);
                    text-transform: uppercase;
                    text-align: center;
                    margin: 10px;
                    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.625);
                }
                p{
                    color: rgb(221, 221, 221);
                    text-align: center;
                }
            }
        }
    }
}
/*AYUDA GRID FIN*/
}

@media only screen and (min-width:768px){
    .main-ayuda{
        .contenedor-ayudas{
            display: flex;
            justify-content: center;
            .ayuda-web{
                background-color: rgba(56, 0, 59, 0.245);
                padding: 5px;
                margin-top: 50px;
                margin: 10px;
                border-radius: 15px;
                div{
                    h1{
                        color: rgb(0, 220, 220);
                        text-transform: uppercase;
                        text-align: center;
                        margin: 10px;
                        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.625);
                    }
                    p{
                        color: rgb(221, 221, 221);
                        text-align: center;
                    }
                }
            }
            .ayuda-ayuda{
                background-color: rgba(56, 0, 59, 0.245);
                padding: 5px;
                margin: 10px;
                border-radius: 15px;
                div{
                    h1{
                        color: rgb(0, 220, 220);
                        text-transform: uppercase;
                        text-align: center;
                        margin: 10px;
                        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.625);
                    }
                    p{
                        color: rgb(221, 221, 221);
                        text-align: center;
                    }
                }
            }
        }
    }
}
